<div class="d-flex justify-content-center">
   <div
      class="d-flex flex-column col-sm-8"
      style="background-color: lightgray;"
   >
      <div class="d-flex flex-row" style="margin-top: 5px;">
         <button class="btn btn-outline-info" (click)="back()">Back</button>
      </div>
      <div class="d-flex flex-row" style="margin-top: 0px;">
         <div
            class="my-3 p-3 bg-white rounded shadow-sm"
            style="
               width: 50%;
               height: 800px;
               background-color: aqua;
               margin-right: 5px;
            "
         >
            <div class="col-md-12">
               <div class="card mb-4 shadow-sm">
                  <svg
                     class="bd-placeholder-img card-img-top"
                     width="100%"
                     height="250"
                     xmlns="http://www.w3.org/2000/svg"
                     preserveAspectRatio="xMidYMid slice"
                     focusable="false"
                     role="img"
                     aria-label="Placeholder: Thumbnail"
                  >
                     <title>Placeholder</title>
                     <rect width="100%" height="100%" fill="#55595c" />
                     <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                        Thumbnail
                     </text>
                  </svg>
                  <img src="{{ ad.images[0] }}" alt="slika" width="100px" />
                  <div class="card-body">
                     <div
                        class="d-flex justify-content-between align-items-center"
                     >
                        <div class="btn-group">
                           <button
                              type="button"
                              class="btn btn-sm btn-outline-secondary"
                           >
                              previous
                           </button>
                           <button
                              type="button"
                              class="btn btn-sm btn-outline-secondary"
                           >
                              next
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-9 mb-3">
               <label for="fromDate">From date</label>
               <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  placeholder="From"
                  value=""
                  [(ngModel)]="ad.fromDate"
                  disabled
               />
            </div>
            <div class="col-md-9 mb-3">
               <label for="firstName">To date</label>
               <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  placeholder="To"
                  value=""
                  [(ngModel)]="ad.toDate"
                  disabled
               />
            </div>
            <div class="col-md-9 mb-3">
               <label for="firstName">Pick up place</label>
               <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  placeholder="To"
                  value=""
                  [(ngModel)]="ad.pickUpPlace"
                  disabled
               />
            </div>
            <div class="col-md-9 mb-3">
               <label for="firstName">Allowed kilometrage</label>
               <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  placeholder="Allowed kilometrage"
                  value=""
                  [(ngModel)]="ad.allowedKilometrage"
                  disabled
               />
            </div>
            <div
               class="custom-control custom-checkbox"
               style="margin-left: 20px; margin-top: 30px;"
            >
               <input
                  type="checkbox"
                  class="custom-control-input"
                  id="same-address"
                  [(ngModel)]="ad.cdwAvailable"
                  disabled
               />
               <label class="custom-control-label" for="same-address"
                  >CDW available</label
               >
            </div>
         </div>
         <div
            class="my-3 p-3 bg-white rounded shadow-sm"
            style="
               width: 50%;
               height: 800px;
               background-color: azure;
               margin-left: 5px;
            "
         >
            <div class="col-md-9 mb-3">
               <label for="firstName">Model</label>
               <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  placeholder="Model"
                  value=""
                  [(ngModel)]="ad.car.model.name"
                  disabled
               />
            </div>
            <div class="col-md-9 mb-3">
               <label for="firstName">Mark</label>
               <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  placeholder="Mark"
                  value=""
                  [(ngModel)]="ad.car.mark.name"
                  disabled
               />
            </div>
            <div class="col-md-9 mb-3">
               <label for="firstName">Fuel</label>
               <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  placeholder="Fuel"
                  value=""
                  [(ngModel)]="ad.car.fuel.type"
                  disabled
               />
            </div>
            <div class="col-md-9 mb-3">
               <label for="firstName">Car Class</label>
               <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  placeholder="Car class"
                  value=""
                  [(ngModel)]="ad.car.carClass.name"
                  disabled
               />
            </div>
            <div class="col-md-9 mb-3">
               <label for="firstName">Gearbox</label>
               <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  placeholder="Gearbox"
                  value=""
                  [(ngModel)]="ad.car.gearbox.type"
                  disabled
               />
            </div>
            <div class="col-md-9 mb-3">
               <label for="firstName">Kilometrage</label>
               <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  placeholder="Kilometrage"
                  value=""
                  [(ngModel)]="ad.car.kilometrage"
                  disabled
               />
            </div>
            <div class="col-md-9 mb-3">
               <label for="firstName">Number of child seats</label>
               <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  placeholder="Number of child seats"
                  value=""
                  [(ngModel)]="ad.car.numberOfChildSeats"
                  disabled
               />
            </div>
            <div class="col-md-9 mb-3">
               <label for="firstName">Grade</label>
               <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  placeholder="Grade"
                  value=""
                  [(ngModel)]="ad.car.overallGrade"
                  disabled
               />
            </div>
            <div class="col-md-9 mb-4">
               <label for="firstName">Price</label>
               <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  placeholder="Price"
                  value=""
                  [(ngModel)]="ad.car.numberOfChildSeats"
                  disabled
               />
            </div>
         </div>
      </div>
      <div>
         <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Comments</h6>
            <div class="media text-muted pt-3" *ngFor="let comment of comments">
               <svg
                  class="bd-placeholder-img mr-2 rounded"
                  width="32"
                  height="32"
                  xmlns="http://www.w3.org/2000/svg"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                  role="img"
                  aria-label="Placeholder: 32x32"
               >
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#007bff" />
                  <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
               </svg>
               <p
                  class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"
               >
                  <strong class="d-block text-gray-dark"
                     >@{{ comment.userUsername }}</strong
                  >
                  {{ comment.text }}
               </p>
            </div>
            <div
               class="media text-muted pt-3 d-flex flex-column"
               *ngIf="role == 'ROLE_AGENT'"
            >
               <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="3"
                  [(ngModel)]="commentText"
               ></textarea>
               <br />
               <button
                  type="button"
                  class="btn btn-primary"
                  style="float: left;"
                  (click)="sendComment()"
               >
                  Comment
               </button>
            </div>
         </div>
      </div>
   </div>
</div>
