<div>
   <div class="messaging">
      <div class="inbox_msg row">
         <div class="inbox_people row">
            <div class="headind_srch col-sm-6">
               <div class="recent_heading col">
                  <h4>Recent</h4>
               </div>
               <div class="inbox_chat col">
                  <div
                     class="chat_list active_chat"
                     *ngFor="let chat of chats"
                     (click)="change_messages(chat)"
                  >
                     <div class="chat_people">
                        <div class="chat_img">
                           <img
                              src="https://ptetutorials.com/images/user-profile.png"
                              alt="sunil"
                           />
                        </div>
                        <div class="chat_ib">
                           <h5 *ngIf="chat.companion.companyName != null">
                              {{ chat.companion.companyName }}
                           </h5>
                           <h5>
                              {{
                                 chat.companion.firstName +
                                    " " +
                                    chat.companion.lastName
                              }}
                              <!-- <span class="chat_date">{{
                                 chat.messages[0].sent
                              }}</span> -->
                           </h5>

                           <p>
                              {{ chat.messages[chat.messages.length - 1].text }}
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="mesgs col" *ngIf="messages != undefined">
               <div class="msg_history">
                  <div
                     [className]="
                        msg.user == 'received' ? 'incoming_msg' : 'outgoing_msg'
                     "
                     *ngFor="let msg of messages"
                  >
                     <div
                        [className]="
                           msg.user == 'received'
                              ? 'received_msg received_withd_msg'
                              : 'sent_msg'
                        "
                     >
                        <p>{{ msg.text }}</p>
                        <span class="time_date"> 11:01 AM | June 9</span>
                     </div>
                  </div>
               </div>
               <div class="type_msg">
                  <form
                     [formGroup]="messageForm"
                     (ngSubmit)="onSubmit(messageForm.value)"
                  >
                     <div class="input_msg_write">
                        <input
                           type="text"
                           class="write_msg"
                           placeholder="Type a message"
                           formControlName="text"
                        />
                        <button class="msg_send_btn" type="submit">
                           Send
                        </button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
