<div class="d-flex p-2 justify-content-center">
  <form [formGroup]="loginForm" class="col-sm-4">
    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" type="text" id="username" name="username" />
      <label for="pass">Password</label>
      <input
        class="form-control"
        type="password"
        name="password"
        id="password"
      />
      <button class="btn btn-primary m-3" type="submit">
        Login
      </button>
    </div>
  </form>
</div>
