<div class="container">
   <div class="col justify-content-center">
      <div class="row">
         <h1 class="h1">Shopping cart</h1>
      </div>
      <div class="row">
         <div class="col-8">
            <div class="card" style="width: 38rem;" *ngFor="let userId of keys">
               <div class="card-header">User: {{ userId }}</div>
               <ul class="list-group list-group-flush">
                  <li
                     *ngFor="let req of map.get(userId)"
                     class="list-group-item"
                  >
                     Ad: {{ req.adId }}, From date: {{ req.pickUpDate }}, To
                     date: {{ req.returnDate }}, Price per day: {{ req.status }}
                     <button
                        type="button"
                        class="btn btn-danger btn-sm align-self-end"
                        (click)="removeRequest(userId, req)"
                     >
                        Remove
                     </button>
                  </li>
               </ul>
               <div class="car-body">
                  <div *ngIf="bundles.indexOf(userId) == -1">
                     <label class="m-2">Rent all as bundle?</label>
                     <button
                        type="button"
                        class="btn btn-secondary btn-sm m-2"
                        (click)="changeBundle(userId)"
                     >
                        Bundle
                     </button>
                  </div>
                  <div *ngIf="bundles.indexOf(userId) != -1">
                     <label class="m-2"
                        >You are renting these cars as bundle</label
                     >
                     <button
                        type="button"
                        class="btn btn-secondary btn-sm m-2"
                        (click)="changeBundle(userId)"
                     >
                        Unbundle
                     </button>
                  </div>
               </div>
            </div>
            <div>
               <button
                  *ngIf="requests != undefined"
                  type="submit"
                  class="btn btn-primary m-2"
                  (click)="onSubmit()"
               >
                  Checkout
               </button>
            </div>
         </div>
      </div>
   </div>
</div>
