<div class="d-flex justify-content-center">
    <div class="d-flex flex-column col-sm-7">
        <div class="card-body">
            <h5 class="card-title">Najbolje ocenjeni automobil</h5>
            <p>{{ statistics.carWithHighestGrade.markName }}</p>
            <p>A7</p>
            <p>prosečna ocena: 5.0</p>
        </div>
        <div class="card-body">
            <h5 class="card-title">Automobil sa najviše komentara</h5>
            <p>Opel</p>
            <p>Corsa</p>
            <p>Broj komentara: 6</p>
        </div>
        <div class="card-body">
            <h5 class="card-title">Automobil sa najviše pređenih kilometara</h5>
            <p>Opel</p>
            <p>Meriva</p>
            <p>Pređeni kilometri: 500.56</p>
        </div>
    </div>
</div>