<div class="d-flex justify-content-center">
    <div class="d-flex flex-column col-sm-8">
        <div>
            <h3 class="display-4" style="text-align: center;">Search the vehicles</h3>
        </div>
        <div class="d-flex flex-row" id="basicSearch">
            <div class="d-flex flex-column" id="sp">
                <label id = "label" for="pickUpPlace">Pick up place</label>
                <select class="form-control" [(ngModel)]="search.pickUpPlace" id="pickUpPlace">
                  <option *ngFor="let city of cities" [ngValue]="city">{{city}}</option>
               </select>
            </div>
            <div class="d-flex flex-column" id="sp">
                <label id = "label" for="pickUpPlace">From </label>
                <input
                [(ngModel)] = "search.fromDate"
                type="date"
                name="From"
                id="from"
                class="form-control"
                />
            </div>
            <div class="d-flex flex-column" id="sp">
                <label id = "label" for="to">To</label>
                <input
                [(ngModel)] = "search.toDate"
                type="date"
                name="to"
                id="to"
                class="form-control"
                />
            </div>
            <div class="d-flex flex-column">
                <button class="btn btn-outline-success" id="btnSearch" (click) = "searchAds(0)">Search</button>
            </div> 
            <div class="d-flex flex-column">
                <button class="btn btn-outline-danger" id="btnSearch" (click) = "clear()">Clear</button>
            </div> 
        </div>
        <div class="d-flex flex-row">
            <div class="d-flex flex-column" id="ss">
                <h4>Additional search</h4>
                <div class="form-group">
                    <label id = "label" for="mark">Mark</label>
                    <select class="form-control" [(ngModel)]="search.mark" id="mark">
                       <option *ngFor="let mark of marks" [ngValue]="mark">{{mark.name}}</option>
                    </select>
                 </div>
                 <div class="form-group" *ngIf = "search.mark.id != null">
                    <label id = "label" for="model">Model</label>
                    <select class="form-control" [(ngModel)]= "search.model" id="model">
                       <option *ngFor="let model of search.mark.models" [ngValue] = "model">{{model.name}}</option>
                    </select>
                 </div>
                 <div class="form-group">
                    <label id = "label" for="fuel">Fuel</label>
                    <select class="form-control" [(ngModel)]= "search.fuel" id="fuel">
                       <option *ngFor="let fuel of fuels" [ngValue]="fuel">{{fuel.type}}</option>
                    </select>
                 </div>
                 <div class="form-group">
                    <label id = "label" for="gearbox">Gearbox</label>
                    <select class="form-control" [(ngModel)]= "search.gearbox" id="gearbox">
                       <option *ngFor="let gearbox of gearboxes" [ngValue]="gearbox">{{gearbox.type}}</option>
                    </select>
                 </div>
                 <div class="form-group">
                    <label id = "label" for="carClass">Class</label>
                    <select class="form-control" [(ngModel)]= "search.carClass" id="carClass">
                       <option *ngFor="let class of classes" [ngValue]="class">{{class.name}}</option>
                    </select>
                 </div>
                 <div class="d-flex flex-row">
                    <div class="form-group flex-column" style="margin-right: 5px;">
                        <label id = "label" for="priceFrom">Price from</label>
                        <input [(ngModel)] = "search.priceFrom" type="number" min="0" name="priceFrom" id="priceFrom" class="form-control"/>
                     </div> 
                     <div class="form-group flex-column">
                        <label id = "label" for="prceTo">Price to</label>
                        <input [(ngModel)] = "search.priceTo" type="number" min="0" name="priceTo" id="priceTo" class="form-control"/>
                     </div> 
                 </div>
                 <div class="d-flex flex-row">
                    <div class="form-group flex-column" style="margin-right: 5px;">
                        <label id = "label" for="kiloemtrageFrom">Kilometrage from</label>
                        <input [(ngModel)] = "search.kilometrageFrom" type="number" min="0" name="kiloemtrageFrom" id="kiloemtrageFrom" class="form-control"/>
                     </div> 
                     <div class="form-group flex-column">
                        <label id = "label" for="kilometrageTo">Kilometrage to</label>
                        <input [(ngModel)] = "search.kilometrageTo" type="number" min="0" name="kilometrageTo" id="kilometrageTo" class="form-control"/>
                     </div> 
                 </div>
                 <div class="form-group">
                    <label id = "label" for="kilometrageToPass">Kilometrage to pass</label>
                    <input [(ngModel)] = "search.kilometrageDrive" type="number" min="0" name="kilometrageToPass" id="kilometrageToPass" class="form-control"/>
                 </div>
                 <div class="d-flex flex-row">
                    <div class="form-group flex-column" style="margin-right: 5px;">
                        <label id = "label" for="childSeats">Child seats</label>
                        <input [(ngModel)] = "search.numberOfChildSeats" type="number" min="0" name="childSeats" id="childSeats" class="form-control"/>
                     </div> 
                     <div class="form-group flex-column">
                        <label id = "label" for="cdw">CDW</label>
                        <input [(ngModel)] = "search.cdw" type="checkbox" name="cdw" id="cdw" class="form-control"/>
                     </div> 
                 </div>
                 <div>
                    <button class="btn btn-outline-success" id="btnSearchSecondary" (click) = "searchAds(0)">Search</button>
                 </div>
                 <div>
                    <button class="btn btn-outline-danger" id="btnSearchSecondary" (click) ="clearAdditional()">Clear</button>
                 </div>
            </div>
            <div class="d-flex flex-column" id = "results" >
                <div class="d-flex flex-row">
                    <div class="form-group">
                        <select class="form-control" [(ngModel)] = "sortSelected" (change) = "sort()" id="sort">
                           <option>Sort by</option>
                           <option>Price higher</option>
                           <option>Price lower</option>
                           <option>Grade higher</option>
                           <option>Grade lower</option>
                           <option>Kilometrage higher</option>
                           <option>Kilometrage lower</option>
                        </select>
                     </div>
                </div>
                <div>
                     <div *ngIf = "ads.length == 0">
                        <h4 class="display-4" style="text-align: center;">No results</h4>
                     </div>
                     <div id="ad" class="d-flex flex-row" *ngFor="let ad of ads" >
                           <div style="width: 25%; height: 150px;">
                              <svg class="bd-placeholder-img card-img-top" width="150px" height="150px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><rect width="100%" height="100%" fill="#55595c"/><text x="25%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                           </div>
                           <div class="d-flex flex-column" style="margin-left: 15px; width:25%">
                              <h6>{{ad.car.mark.name}} {{ad.car.model.name}}</h6>
                              <span><i><u>From:</u></i></span>
                              {{ad.fromDate | date: 'mediumDate'}}
                              <span><i><u>To:</u></i></span>
                              {{ad.toDate | date: 'mediumDate'}}
                           </div>
                           <div class="d-flex flex-column" style="margin-left: 30px; margin-right: 30px; width:25%">
                              <span><i><u>Price per day:</u></i></span>
                              {{ad.priceList.perDay }}€
                              <span><i><u>Kilometrage:</u></i></span>
                              {{ad.car.kilometrage | number}}km
                              <span><i><u>Grade:</u></i></span>
                              {{ad.car.overallGrade}}
                           </div>
                           <div class="d-flex flex-column" style="margin-right: 15px; margin-top: 15px; width:20%">
                              <button class="btn btn-outline-info" (click) = "view(viewModal,ad)" >View</button>
                              <br>
                              <button *ngIf="role == 'ROLE_USER'" class="btn btn-outline-success" (click)="addToCart(ad)">Add to cart</button>
                           </div>
                     </div>
                     <div class="d-flex flex-wrap p-2 justify-content-center">
                        <ul class="pagination">
                        <li class="page-item active" *ngFor = "let i of pages">
                          <a class="page-link" (click) = "searchAds(i-1)">{{i}}</a>
                        </li>
                        </ul>
                     </div>
                </div>    
            </div>
        </div>
    </div>
</div>
<ng-template #viewModal let-modal>
   <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ad.car.mark.name}} {{ad.car.model.name}}</h4>
      <button
         type="button"
         class="close"
         aria-label="Close"
         (click)="modal.dismiss('Cross click')"
      >
         <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div class="modal-body">
      <div class="d-flex flex-column">
         <div class="d-flex flex-row">
            <div class="d-flex flex-column" id="d1" style="width: 40%;">
               <div class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  <div class="card-body">
                     <div class="d-flex justify-content-between align-items-center">
                     <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">previous</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">next</button>
                     </div>
                     </div>
                  </div>
               </div>
            <span id="span"><i><u>From:</u></i></span>
            {{ad.fromDate | date : 'mediumDate'}} 
            <span id="span"><i><u>To:</u></i></span>
            {{ad.toDate | date : 'mediumDate'}}
            </div>
            <div id="d1" class="d-flex flex-column" style="margin-left: 20px; width: 28%;">
               <span id="span"><i><u>Pick up place:</u></i></span>
               {{ad.pickUpPlace}}
               <span id="span"><i><u>Fuel:</u></i></span>
               {{ad.car.fuel.type}}
               <span id="span"><i><u>Gearbox:</u></i></span>
               {{ad.car.gearbox.type}}
               <span id="span"><i><u>Class:</u></i></span>
               {{ad.car.carClass.name}}
               <span id="span"><i><u>Child Seats:</u></i></span>
               {{ad.car.numberOfChildSeats}}
               <span id="span"><i><u>Allowed kilometrage:</u></i></span>
               {{ad.allowedKilometrage | number}}km
               <span id="span"><i><u>Kilometrage:</u></i></span>
               {{ad.car.kilometrage | number}}km
               <span id="span"><i><u>CDW available:</u></i></span>
               {{ad.cdwAvailable}}
               <span id="span"><i><u>Has android:</u></i></span>
               {{ad.car.hasAndroid}}
            </div>
            <div id="d1" class="d-flex flex-column" style="margin-left: 20px; width: 28%">
               <h3>Prices</h3><br>
               <span id="span"><i><u>Per day:</u></i></span>
               {{ad.priceList.perDay}}€
               <span id="span"><i><u>Extra kilometrage:</u></i></span>
               {{ad.priceList.extraKilometrage}}€/km
               <span id="span"><i><u>Discount above {{ad.priceList.discountDays}} days:</u></i></span>
               {{ad.priceList.discount}}%
               <span id="span"><i><u>CDW:</u></i></span>
               {{ad.priceList.cdw}}€
               <h3 style="margin-top: 15px;">Grades</h3><br>
               <span id="span"><i><u>Overall grade:</u></i></span>
               {{ad.car.overallGrade}} 
               <span id="span"><i><u>Number of grades:</u></i></span>
               {{ad.car.numberGrades}}
            </div>
         </div>
         <div>
            <div class="my-3 p-3 bg-white rounded shadow-sm">
               <h6 class="border-bottom border-gray pb-2 mb-0">Comments</h6>
               <div class="media text-muted pt-3" *ngFor = " let comment of comments">
                 <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                 <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                   <strong class="d-block text-gray-dark">@{{comment.userUsername}}</strong>
                   {{comment.text}}
                 </p>
               </div>
           </div>
         </div>
      </div>
   </div>
</ng-template>
