<div class="col-sm-6">
   <table class="table table-hover">
      <thead class="thead-dark">
         <tr>
            <div>
               <th scope="col">Ad</th>
               <th scope="col">Pick up place</th>
               <th scope="col">Pick up date</th>
               <th scope="col">Return date</th>
               <th scope="col">Status</th>
               <th scope="col">Bundle id</th>
            </div>

            <th scope="col">Report</th>
            <th scope="col">Comment & grade</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let req of requests">
            <div (click)="openAd(req)">
               <td>{{ req.adId }}</td>
               <td>{{ req.pickUpPlace }}</td>
               <td>{{ req.pickUpDate }}</td>
               <td>{{ req.returnDate }}</td>
               <td>{{ req.status }}</td>
               <td>{{ req.bundleId == -1 ? "" : req.bundleId }}</td>
            </div>

            <td>
               <button
                  *ngIf="req.status == 'paid'"
                  class="btn btn-dark"
                  (click)="report(req)"
               >
                  Report
               </button>
            </td>
            <td>
               <button
                  *ngIf="req.status == 'paid'"
                  (click)="open(mymodal, req)"
                  class="btn btn-dark"
               >
                  Comment
               </button>
            </td>
         </tr>
      </tbody>
   </table>
   <ng-template #mymodal let-modal>
      <div class="modal-header">
         <h4 class="modal-title" id="modal-basic-title">Comment and grade</h4>
         <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
         >
            <span aria-hidden="true">&times;</span>
         </button>
      </div>
      <div class="modal-body">
         <label> Comment </label><br />
         <textarea
            type="text"
            class="form-control"
            id="firstName"
            placeholder="Comment"
            value=""
            [(ngModel)]="textComment"
         ></textarea
         ><br />
         <label> Rating </label><br />
         <ngb-rating [(rate)]="currentRate" [max]="5"></ngb-rating>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-outline-dark" (click)="send()">
            Send
         </button>
      </div>
   </ng-template>
</div>
